In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Wide_WithPopulation_V4.csv")
area = pd.read_csv("Area.csv")

In [3]:
area = area.drop(0,axis=0)
area = area.reset_index(drop=True)

In [4]:
sur = []
for i in range(len(area)):
    r = ''
    for s in area['Area'][i]:
        if s.isdigit():
            r = r+s
    sur.append(int(r[:-1]))
    
area['Area'] = sur

In [5]:
pop_list = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Caribbean Netherlands', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Christmas Island', 'Cocos Islands', 'Colombia','Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador','Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte',
       'Melanesia', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Korea', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland',
       'Polynesia', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe']

In [6]:
rep = {'DR Congo':'Democratic Republic of Congo', 'Faroe Islands':'Faeroe Islands', 'Ivory Coast':"Cote d'Ivoire",
       'Macau':'Macao', 'Micronesia':'Micronesia (country)', 'Republic of the Congo':'Congo',
       'Sint Maarten':'Sint Maarten (Dutch part)', 'Timor-Leste':'Timor', 'Vatican City':'Vatican'}

In [7]:
for el in rep.keys():
    idx = area.index[area['Country'] == el]
    if len(idx)>0:
        for i in idx:
            area['Country'][i] = rep[area['Country'][i]]

C:\Users\ASUS\Anaconda3\envs\python\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [8]:
surface1 = []
surface2 = []

for i in range(len(data)):
    try:
        if data['Team1'][i] == 'England':
            surface1.append(130395)
        elif data['Team1'][i] == 'Wales':
            surface1.append(20735)
        elif data['Team1'][i] == 'Scotland':
            surface1.append(80077)
        elif data['Team1'][i] == 'Northern Ireland':
            surface1.append(14130)
        elif data['Team1'][i] == 'Serbia and Montenegro':
            idx1 = area.index[area['Country'] == 'Serbia']
            idx2 = area.index[area['Country'] == 'Montenegro']
            p1 = area['Area'][idx1[0]]
            p2 = area['Area'][idx2[0]]
            surface1.append(p1+p2)
        else:    
            idx1 = area.index[area['Country'] == data['Team1'][i]]
            p1 = area['Area'][idx1[0]]
            surface1.append(p1)
    except:
        print(data['Team1'][i])
        
    try:
        if data['Team2'][i] == 'England':
            surface2.append(130395)
        elif data['Team2'][i] == 'Wales':
            surface2.append(20735)
        elif data['Team2'][i] == 'Scotland':
            surface2.append(80077)
        elif data['Team2'][i] == 'Northern Ireland':
            surface2.append(14130)
        elif data['Team2'][i] == 'Serbia and Montenegro':
            idx1 = area.index[area['Country'] == 'Serbia']
            idx2 = area.index[area['Country'] == 'Montenegro']
            p1 = area['Area'][idx1[0]]
            p2 = area['Area'][idx2[0]]
            surface2.append(p1+p2)
        else:
            idx2 = area.index[area['Country'] == data['Team2'][i]]
            p2 = area['Area'][idx2[0]]
            surface2.append(p2)
    except:
        print(data['Team2'][i])

In [9]:
data["Surface1"] = surface1
data["Surface2"] = surface2

In [10]:
data["Density1"] = data["Population1"]/data["Surface1"]
data["Density2"] = data["Population2"]/data["Surface2"]

In [11]:
data.describe()

,Score1,Score2,nb_matches1,nb_matches2,goals_past1,goals_past2,ratio_goals_past1,ratio_goals_past2,nb_wins1,nb_wins2,...,Ranks2,Points1,Points2,Year,Population1,Population2,Surface1,Surface2,Density1,Density2
count,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,9071.000000,...,9071.000000,9071.000000,9071.000000,9071.000000,9.071000e+03,9.071000e+03,9.071000e+03,9.071000e+03,9071.000000,9071.000000
mean,1.533789,1.115974,12.496858,11.756697,18.455628,16.908830,0.499530,0.475443,5.220924,4.742256,...,61.644692,646.771580,628.362143,2011.000331,5.401322e+07,3.906849e+07,9.554324e+05,8.937533e+05,217.930630,188.034455
std,1.379060,1.181910,11.427118,11.472502,20.033043,19.575623,0.192769,0.207729,5.608873,5.426114,...,47.579284,360.235864,352.612353,4.689840,1.648871e+08,1.207119e+08,2.524279e+06,2.425270e+06,715.478076,663.753510
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1998.000000,1.119200e+04,1.119200e+04,6.000000e+00,6.000000e+00,1.979140,1.951205
25%,1.000000,0.000000,5.000000,4.000000,5.000000,4.000000,0.400000,0.368421,1.000000,1.000000,...,23.000000,380.000000,373.000000,2008.000000,5.098121e+06,4.947595e+06,5.110000e+04,5.659400e+04,45.659451,33.898646
50%,1.000000,1.000000,9.000000,8.000000,12.000000,10.000000,0.517241,0.500000,3.000000,3.000000,...,50.000000,606.000000,592.000000,2012.000000,1.093874e+07,1.043178e+07,1.810340e+05,1.851800e+05,96.894126,81.869818
75%,2.000000,2.000000,17.000000,15.000000,24.000000,22.000000,0.619048,0.603774,7.000000,6.000000,...,92.000000,854.000000,821.000000,2014.000000,4.800478e+07,3.772155e+07,5.516950e+05,5.059920e+05,168.561922,133.837951
max,10.000000,9.000000,69.000000,70.000000,113.000000,116.000000,1.000000,1.000000,33.000000,32.000000,...,207.000000,1887.000000,1887.000000,2018.000000,1.403500e+09,1.393686e+09,1.709824e+07,1.709824e+07,8262.742254,8262.742254

In [12]:
data.to_csv("Wide_WithAreaDensity_V5.csv", index=False, encoding="utf-8")